.u-margin-top--none {
  margin-top: 0; }

.u-margin-right--small {
  margin-right: 1rem; }

.u-margin-right--medium {
  margin-right: 2rem; }

.u-margin-right--none {
  margin-right: 0; }

.u-margin-bottom--small {
  margin-bottom: 1rem; }

.u-margin-bottom--medium {
  margin-bottom: 2rem; }

.u-margin-bottom--none {
  margin-bottom: 0; }

.u-margin-left--none {
  margin-left: 0; }

.u-padding-top--small {
  padding-top: 1rem; }

.u-padding-top--medium {
  padding-top: 2rem; }

.u-padding-top--none {
  padding-top: 0; }

.u-padding-right--small {
  padding-right: 1rem; }

.u-padding-right--medium {
  padding-right: 2rem; }

.u-padding-right--none {
  padding-right: 0; }

.u-padding-bottom--small {
  padding-bottom: 1rem; }

.u-padding-bottom--medium {
  padding-bottom: 2rem; }

.u-padding-bottom--none {
  padding-bottom: 0; }

.u-padding-left--small {
  padding-left: 1rem; }

.u-padding-left--medium {
  padding-left: 2rem; }

.u-padding-left--none {
  padding-left: 0; }
