<!DOCTYPE html>
<head>
    <!-- Internal Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Include Nucleus Grid -->
     <link rel="stylesheet" href="https://unpkg.com/nucleuscss@1.0.5/css/nucleus.min.css">
</head>

<body>
    <header class="c-header">
        <div class="o-grid">
            <div class="o-grid__col o-grid__col--width-100">
                <ul>
                    <li><a href="#" title="About">About</a></li>
                    <li><a href="#" title="Skillset">Skillset</a></li>
                    <li><a href="#"><img src="http://via.placeholder.com/48x48" alt="Logo"></a></li>
                    <li><a href="#" title="Work">Work</a></li>
                    <li><a href="#" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="o-grid o-grid--section t--about">
        <div class="o-grid__col o-grid__col--width-100">
            <img class="o-image u-margin-right--small" src="http://via.placeholder.com/400x300" alt="placeholder">
            <h1 class="o-heading">About Section</h1>
            <p class="o-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum tortor mi, eget dignissim turpis aliquet at. Morbi faucibus iaculis nulla id lobortis. Sed faucibus, diam eu finibus pulvinar, dolor massa ullamcorper elit, ac scelerisque lorem tortor a tortor. Curabitur enim purus, placerat vitae dictum nec, feugiat eu libero. Sed ut neque rutrum orci pharetra posuere sed in risus. Aenean ac tellus at nibh feugiat faucibus. Nunc urna elit, dictum a hendrerit non, bibendum id massa.
            </p>

            <p class="o-description">
                Mauris laoreet, dui ut fermentum dignissim, libero nisi pretium augue, finibus pulvinar turpis nibh at lacus. Suspendisse quis finibus tortor. Pellentesque porttitor ex id tincidunt facilisis. Donec facilisis, sapien ac auctor sagittis, diam dolor ullamcorper justo, at tincidunt lacus ante non magna. Mauris feugiat, velit id mollis fermentum, orci urna mollis quam, eget gravida neque ipsum sit amet sapien.
            </p>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><a href="#" title="Facebook"><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="Facebook"></a></li>
                <li><a href="#" title="Facebook" class="u-link">Facebook</a></li>
            </ul>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><a href="#" title="Twitter"><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="Twitter"></a></li>
                <li><a href="#" title="Twitter" class="u-link">Twitter</a></li>
            </ul>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><a href="#" title="Youtube"><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="Youtube"></a></li>
                <li><a href="#" title="Youtube" class="u-link">Youtube</a></li>
            </ul>

            <!-- <div class="c-social">

                Facebook
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Twitter
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Youtube
            </div> -->
        </div>
    </section>

    <section class="o-grid o-grid--section t--skillset">
        <div class="o-grid__col o-grid__col--width-100">
            <img class="o-image" src="http://via.placeholder.com/400x300" alt="placeholder">
            <h1 class="o-heading">Skillset Section</h1>
            <p class="o-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum tortor mi, eget dignissim turpis aliquet at. Morbi faucibus iaculis nulla id lobortis. Sed faucibus, diam eu finibus pulvinar, dolor massa ullamcorper elit, ac scelerisque lorem tortor a tortor. Curabitur enim purus, placerat vitae dictum nec, feugiat eu libero. Sed ut neque rutrum orci pharetra posuere sed in risus. Aenean ac tellus at nibh feugiat faucibus. Nunc urna elit, dictum a hendrerit non, bibendum id massa.
            </p>

            <p class="o-description">
                Mauris laoreet, dui ut fermentum dignissim, libero nisi pretium augue, finibus pulvinar turpis nibh at lacus. Suspendisse quis finibus tortor. Pellentesque porttitor ex id tincidunt facilisis. Donec facilisis, sapien ac auctor sagittis, diam dolor ullamcorper justo, at tincidunt lacus ante non magna. Mauris feugiat, velit id mollis fermentum, orci urna mollis quam, eget gravida neque ipsum sit amet sapien.
            </p>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="social"></li>
                <li><a href="#" title="Facebook">Facebook</a></li>
            </ul>

            <!-- <div class="c-social">

                Facebook
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Twitter
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Youtube
            </div> -->
        </div>
    </section>

    <section class="o-grid o-grid--section t--work">
        <div class="o-grid__col o-grid__col--width-100">
            <img class="o-image" src="http://via.placeholder.com/400x300" alt="placeholder">
            <h1 class="o-heading">Work Section</h1>
            <p class="o-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum tortor mi, eget dignissim turpis aliquet at. Morbi faucibus iaculis nulla id lobortis. Sed faucibus, diam eu finibus pulvinar, dolor massa ullamcorper elit, ac scelerisque lorem tortor a tortor. Curabitur enim purus, placerat vitae dictum nec, feugiat eu libero. Sed ut neque rutrum orci pharetra posuere sed in risus. Aenean ac tellus at nibh feugiat faucibus. Nunc urna elit, dictum a hendrerit non, bibendum id massa.
            </p>

            <p class="o-description">
                Mauris laoreet, dui ut fermentum dignissim, libero nisi pretium augue, finibus pulvinar turpis nibh at lacus. Suspendisse quis finibus tortor. Pellentesque porttitor ex id tincidunt facilisis. Donec facilisis, sapien ac auctor sagittis, diam dolor ullamcorper justo, at tincidunt lacus ante non magna. Mauris feugiat, velit id mollis fermentum, orci urna mollis quam, eget gravida neque ipsum sit amet sapien.
            </p>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="social"></li>
                <li><a href="#" title="Facebook">Facebook</a></li>
            </ul>

            <!-- <div class="c-social">

                Facebook
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Twitter
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Youtube
            </div> -->
        </div>
    </section>

    <section class="o-grid o-grid--section t--contact">
        <div class="o-grid__col o-grid__col--width-100">
            <img class="o-image" src="http://via.placeholder.com/400x300" alt="placeholder">
            <h1 class="o-heading">Contact Section</h1>
            <p class="o-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum tortor mi, eget dignissim turpis aliquet at. Morbi faucibus iaculis nulla id lobortis. Sed faucibus, diam eu finibus pulvinar, dolor massa ullamcorper elit, ac scelerisque lorem tortor a tortor. Curabitur enim purus, placerat vitae dictum nec, feugiat eu libero. Sed ut neque rutrum orci pharetra posuere sed in risus. Aenean ac tellus at nibh feugiat faucibus. Nunc urna elit, dictum a hendrerit non, bibendum id massa.
            </p>

            <p class="o-description">
                Mauris laoreet, dui ut fermentum dignissim, libero nisi pretium augue, finibus pulvinar turpis nibh at lacus. Suspendisse quis finibus tortor. Pellentesque porttitor ex id tincidunt facilisis. Donec facilisis, sapien ac auctor sagittis, diam dolor ullamcorper justo, at tincidunt lacus ante non magna. Mauris feugiat, velit id mollis fermentum, orci urna mollis quam, eget gravida neque ipsum sit amet sapien.
            </p>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="social"></li>
                <li><a href="#" title="Facebook">Facebook</a></li>
            </ul>

            <!-- <div class="c-social">

                Facebook
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Twitter
                <img class="c-social--round" src="http://via.placeholder.com/42x42" alt="social">
                Youtube
            </div> -->
        </div>
    </section>

    <footer class="c-footer">
        <div class="o-grid">
            <div class="o-grid__col o-grid__col--width-100">
                <p>footer</p>
            </div>
        </div>
    </footer>
</body>

</html>
