<!DOCTYPE html>
<head>
    <!-- Internal Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Include Nucleus Grid -->
     <link rel="stylesheet" href="https://unpkg.com/nucleuscss@1.0.5/css/nucleus.min.css">
     <!-- Include Jquery v3 -->
     <script
     src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
     crossorigin="anonymous"></script>
</head>

<body>
    <header class="c-header">
        <ul class="c-nav c-nav--inline">
            <li class="c-nav__item"><img class="o-image" src="http://www.placecage.com/gif/167/40" alt="Placeholder"></li>
            <li class="c-nav__item"><a href="#about" title="About">About</a></li>
            <li class="c-nav__item"><a href="#skillset" title="Skillset">Skillset</a></li>
            <li class="c-nav__item"><a href="#work" title="Work">Work</a></li>
            <li class="c-nav__item"><a href="#contact" title="Contact">Contact</a></li>
            </ul>
    </header>
    <section id="about" class="o-grid o-grid--section t--about">
        <div class="o-grid__col o-grid__col--width-100">
            <img class="o-image u-margin-right--small" src="http://via.placeholder.com/400x300" alt="placeholder">
            <h1 class="o-heading">About Section</h1>
            <p class="o-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum tortor mi, eget dignissim turpis aliquet at. Morbi faucibus iaculis nulla id lobortis. Sed faucibus, diam eu finibus pulvinar, dolor massa ullamcorper elit, ac scelerisque lorem tortor a tortor. Curabitur enim purus, placerat vitae dictum nec, feugiat eu libero. Sed ut neque rutrum orci pharetra posuere sed in risus. Aenean ac tellus at nibh feugiat faucibus. Nunc urna elit, dictum a hendrerit non, bibendum id massa.
            </p>

            <p class="o-description">
                Mauris laoreet, dui ut fermentum dignissim, libero nisi pretium augue, finibus pulvinar turpis nibh at lacus. Suspendisse quis finibus tortor. Pellentesque porttitor ex id tincidunt facilisis. Donec facilisis, sapien ac auctor sagittis, diam dolor ullamcorper justo, at tincidunt lacus ante non magna. Mauris feugiat, velit id mollis fermentum, orci urna mollis quam, eget gravida neque ipsum sit amet sapien.
            </p>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><a href="#" title="Facebook"><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="Facebook"></a></li>
                <li><a href="#" title="Facebook" class="u-link">Facebook</a></li>
            </ul>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social">
                <li><a href="#" title="Twitter"><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="Twitter"></a></li>
                <li><a href="#" title="Twitter" class="u-link">Twitter</a></li>
            </ul>

            <ul class="e-unordered-list e-unordered-list--inline e-unordered-list--social u-margin-bottom--none">
                <li><a href="#" title="Youtube"><img class="o-image o-image--circle" src="http://via.placeholder.com/42x42" alt="Youtube"></a></li>
                <li><a href="#" title="Youtube" class="u-link">Youtube</a></li>
            </ul>
        </div>
    </section>

    <section id="skillset" class="o-grid o-grid--section t--skillset">
        <div class="o-grid__col o-grid__col--width-100">
            <h1 class="o-heading">Skillset Section</h1>

            <div class="c-progress-bar c-progress-bar__highlighted--blue u-margin-bottom--small">
                <div class="c-progress-bar__label u-padding-left--small">HTML<span class="u-float--right u-margin-right--small">10</span></div>
                <div class="c-progress-bar__value" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"></div>
            </div>

            <div class="c-progress-bar c-progress-bar__highlighted--pink u-margin-bottom--small">
                <div class="c-progress-bar__label u-padding-left--small">CSS<span class="u-float--right u-margin-right--small">10</span></div>
                <div class="c-progress-bar__value" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"></div>
            </div>

            <div class="c-progress-bar c-progress-bar__highlighted--orange u-margin-bottom--small">
                <div class="c-progress-bar__label u-padding-left--small">JS<span class="u-float--right u-margin-right--small">10</span></div>
                <div class="c-progress-bar__value" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"></div>
            </div>

            <div class="c-progress-bar c-progress-bar__highlighted--purple u-margin-bottom--small">
                <div class="c-progress-bar__label u-padding-left--small">PHP<span class="u-float--right u-margin-right--small">10</span></div>
                <div class="c-progress-bar__value" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="10"></div>
            </div>
        </div>
    </section>

    <section id="work" class="o-grid o-grid--wrap o-grid--section t--work">
        <div class="o-grid__col o-grid__col--width-100">
            <h1 class="o-heading">Work Section</h1>
        </div>
        <div class="o-grid__col">
            <div class="c-card c-card--higher">
                <header class="c-card__header">
                    <img class="o-image" src="/img/bitbucket.jpg" alt="Placeholder"/>
                </header>

                <div class="c-card__content">
                    <p class="e-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
                </div>

                <footer class="c-card__footer c-card__item">
                    <a href="https://bitbucket.org/" target=_blank class="c-button c-button--secondary c-button--block" role="button">Visit BitBucket</a>
                </footer>
            </div>
        </div>
        <div class="o-grid__col">
                <div class="c-card c-card--higher">
                    <header class="c-card__header">
                        <img class="o-image" src="/img/github.jpg" alt="Placeholder"/>
                    </header>

                    <div class="c-card__content">
                        <p class="e-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
                    </div>

                    <footer class="c-card__footer c-card__item">
                        <a href="https://github.com/" target=_blank class="c-button c-button--secondary c-button--block" role="button">Visit GitHub</a>
                    </footer>
                </div>
            </div>
            <div class="o-grid__col">
                <div class="c-card c-card--higher">
                    <header class="c-card__header">
                        <img class="o-image" src="http://www.placecage.com/gif/265/195" alt="Placeholder"/>
                    </header>

                    <div class="c-card__content">
                        <p class="e-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
                    </div>

                    <footer class="c-card__footer c-card__item">
                        <a href="#" class="c-button c-button--secondary c-button--block" role="button">Experience Overview</a>
                    </footer>
                </div>
            </div>
    </section>

    <section id="contact" class="o-grid o-grid--section t--contact">
        <div class="o-grid__col o-grid__col--width-100">
            <h1 class="o-heading">Contact Section</h1>
            <form class="e-form" action="/action_page.php">
                <div class="e-form__label">Name:</div>
                <input class="e-form__input" type="text" name="firstname">
                <div class="e-form__label">Message:</div>
                <textarea class="e-form__input"></textarea>
                <div class="e-form__submit"><input type="submit" value="Submit"></div>
            </form>
        </div>
    </section>

    <footer class="c-footer">
        <div class="o-grid">
            <div class="o-grid__col">
                <ul class="e-unordered-list e-unordered-list--unstyled">
                  <li><h6 class="e-heading--headline">Title</h6></li>
                  <li><a class="c-footer__item" href="#" title="About">About</a></li>
                  <li><a class="c-footer__item" href="#" title="Skillset">Skillset</a></li>
                  <li><a class="c-footer__item" href="#" title="Work">Work</a></li>
                  <li><a class="c-footer__item" href="#" title="Contact">Contact</a></li>
                </ul>
              </div>
        </div>
    </footer>
</body>

</html>
