<!DOCTYPE html>
<head>
    <!-- Internal Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Include Nucleus Grid -->
     <link rel="stylesheet" href="https://unpkg.com/nucleuscss@1.0.5/css/nucleus.min.css">
</head>

<body>
    <header class="c-header">
        <div class="o-grid">
            <div class="o-grid__col o-grid__col--width-100">
                <ul>
                    <li><a href="#" title="About">About</a></li>
                    <li><a href="#" title="Skillset">Skillset</a></li>
                    <li><a href="#"><img src="http://via.placeholder.com/48x48" alt="Logo"></a></li>
                    <li><a href="#" title="Work">Work</a></li>
                    <li><a href="#" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="o-grid">
            <div class="o-grid__col o-grid__col--width-100">
                <p>body/section</p>
            </div>
        </div>
    </section>

    <footer class="c-footer">
        <div class="o-grid">
            <div class="o-grid__col o-grid__col--width-100">
                <p>footer</p>
            </div>
        </div>
    </footer>

</body>

</html>
